.sidebar {
    background-color: blue;
    color: white;
    width: 122px;
    height: 1000px;
    padding: 10px;
  }
  
  .navigation {
    margin-top: 10px;
  }
  
  .menu {
    list-style-type: none;
  }
  
  .menu-item {
    margin-bottom: 5px;
    cursor: pointer;
  }
  